body {
  background-color: #ffffff;
}

.main {
  width: 100%;
  margin: 5px 10px 5px 0;
  height: 100vh;
  overflow: scroll;
}

.add-btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin: auto;
  text-align: end;
}

.add-btn:hover,
.btn-right:hover {
  border-radius: 20px;
  background-color: grey;
  width: 100%;
  text-align: center;
}

.btn-right {
  width: 50px;
  height: 40px;
  border: none;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
